/* 
CSS Guide
1. General Styles
2. Main Nav
3. Header
4. Products
5. Find Us
6. Footer
7. Custom Queries
8. Tablet Queries
9. Desktop Queries
*/

/* 1. --General Styles-- */

body {
    background-color: #edf3f7;
}

h2 {
    font-family: "ohno-softie-variable",sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #2A4776;
}

p {
    font-family: josefin-sans, sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 20px;
}

.light-blue {
    background-color: #80BDDF;
}

.light-blue-section {
    background-color: #80BDDF;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* 2. --Main Nav-- */

#main-nav {
    display: none;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
}

#main-nav.slide-toggle {
    display: block;
}

#burger-btn {
    cursor: pointer;
    align-self: center;
}

#burger-btn.rotate {
    position: fixed;
    align-self: auto;
    transform: rotate(90deg);
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    text-align: center;
}

#main-nav ul li a {
    text-decoration: none;
    color: #2A4776;
    font-size: 25px;
    line-height: 55px;
    justify-self: center;
}

/* 3. --Header-- */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-head {
    justify-self: center;
}

#header-icons {
    justify-self: end;
    align-self: center;
}

#search {
    margin-right: 20px;
    width: 30px;
    cursor: pointer;
}

#cart {
    width: 30px;
    cursor: pointer;
}

/* 4. --Products-- */
#product3 {
    display: none;
}

#product4 {
    display: none;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 12px;
    border-radius: 18px;
    margin-bottom: 50px;
}

.product-card h3 {
    font-size: 30px;
    font-family: "ohno-softie-variable",sans-serif;
    margin-bottom: 10px;
}

.product-text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-family: josefin-sans, sans-serif;
    font-weight: 200;
}

/* 5. --Find Us-- */
#find-us {
    margin-bottom: 40px;
}

/* 6. --Footer-- */

#logo-foot {
    padding-top: 23px;
    justify-self: center;
    margin-bottom: 10px;
}

.m-l-foot-nav ul {
    display: none;
}

#socials {
    justify-self: center;
    margin-bottom: 10px;
}

#facebook {
    margin-right: 20px;
    cursor: pointer;
}

#instagram {
    cursor: pointer;
}

#follow-us {
    display: none;
}

#copy {
    text-align: center;
    padding-bottom: 23px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    color: #2A4776;
}

#m-l-copy {
    display: none;
}


/* 7. --Tablet Queries-- */

/* Header */
@media screen and (min-width: 768px) {
    #logo-head {
        order: -2;
        align-self: center;
        justify-self: normal;
    }

    #logo-head img {
        width: 100%;
    }

    #burger-btn {
        display: none;
    }

    #main-nav {
        display: block;
        order: -1;
    }

    #main-nav ul {
        display: flex;
        justify-content: space-between;
    }

    #main-nav ul li a {
        font-size: 22px;
    }
}

/* What's New */
@media screen and (min-width: 768px) {
    #whats-new h2 {
            order: -2;
        }
    
    #whats-new-content {
        order: -1;
    }
}

/* Products */
@media screen and (min-width: 768px) {
    #product3 {
        display: block;
    }
}

/* Footer */
@media screen and (min-width: 768px) {
    #logo-foot {
        justify-self: normal;
        align-self: center;
    }

    #logo-foot img {
        width: 100%;
    }

    #m-l-copy {
        display: block;
        text-align: center;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        color: #2A4776;
    }

    #copy {
        display: none;
    }

    .m-l-foot-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;        
        line-height: 45px;
        list-style-type: none;
        width: 100%;
        padding: 0px;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
    }

    .m-l-foot-nav li {
        justify-content: center;
    }


    .m-l-foot-nav li a {
        color: #2A4776;
        text-decoration: none;
    }

    #follow-us {
        display: block;
        margin-left: 5px;
        margin-top: 23px;
        margin-bottom: 40px;
        font-size: 25px;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        color: #2A4776;
    }
}

/* 8. --Desktop Queries-- */

/* Header */
@media screen and (min-width: 1200px) {
    #main-nav ul li a {
        font-size: 25px;
    }
}

/* Produts */
@media screen and (min-width: 1200px) {
    #product4 {
        display: block;
    }
}