/* 
CSS Guide
1. General Styles
2. Main Nav
3. Header
4. Hero Images
5. Buttons
6. Products Display
7. Product Cards
8. Contact Form
9. Find Us
10. Footer
11. Tablet Queries
12. Desktop Queries
*/



/* 1. --General Styles-- */
h2 {
    font-family: "ohno-softie-variable",sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #2A4776;
}

p {
    font-family: josefin-sans, sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 20px;
}

.light-blue {
    background-color: #80BDDF;
}

.light-blue-section {
    background-color: #98CBE7;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-top: 40px;
    margin-bottom: 40px;
}



/* 2. --Main Nav-- */
#main-nav {
    display: none;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
}

#main-nav.slide-toggle {
    display: block;
}

#burger-btn {
    cursor: pointer;
    align-self: center;
}

#burger-btn.rotate {
    position: fixed;
    align-self: auto;
    transform: rotate(90deg);
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    text-align: center;
}

#main-nav ul li a {
    text-decoration: none;
    color: #2A4776;
    font-size: 25px;
    line-height: 55px;
    justify-self: center;
    transition: all ease-in-out .2s;
}

#main-nav ul li a:hover {
    color: #fff;
}




/* 3. --Header-- */
header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-head {
    justify-self: center;
}

#header-icons {
    justify-self: end;
    align-self: center;
}

#search {
    margin-right: 20px;
    width: 30px;
    cursor: pointer;
}

#cart {
    width: 30px;
    cursor: pointer;
}



/* 4. --Hero Images-- */
#home-hero {
    margin-bottom: 39px;
    justify-self: center;
    grid-row: 1;
}

#products-hero {
    margin-bottom: 39px;
    justify-self: center;
    grid-row: 1;
}

#contact-hero {
    margin-bottom: 39px;
}



/* 5. --Nested Grid-- */
#nested-hero-grid {
    grid-column: 2/3;
    grid-row: 1;
}

#nested-hero-grid div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#nested-hero-grid h2 {
    color: #fff;
    font-family: "ohno-softie-variable",sans-serif;
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

#nested-hero-grid p {
    color: #fff;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    height: 20px;
}

#right h2 {
    text-align: right;
}

#right p {
    text-align: right;
}

#nested-navy-btn a {
    color: #E5D28C;
    font-family: josefin-sans, sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #2A4776;
    padding-top: 7px;
    padding-bottom: 10px;
    border: 4px, solid #7F91AC;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    transition: .3s all ease-in;
    margin-top: 15px;
}

#nested-navy-btn a:hover {
    color: #2A4776;
    background-color: #E5D28C;
    border: 4px, solid #F5EDD1;
}

#nested-yellow-btn a {
    color: #2A4776;
    font-family: josefin-sans, sans-serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #E5D28C;
    padding-top: 7px;
    padding-bottom: 10px;
    border: 4px, solid #F5EDD1;
    width: 200px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    border-radius: 30px;
    transition: .3s all ease-in;
    margin-bottom: 20px;
}

#nested-yellow-btn a:hover {
    color: #E5D28C;
    background-color: #2A4776;
    border: 4px, solid #7F91AC;
}



/* 5. --Buttons-- */
.yellow-btn {
    color: #2A4776;
    background-color: #E5D28C;
    border: #F5EDD1 solid 4px;
    border-radius: 50px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 25px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    transition: all ease-in-out .3s;
}

.yellow-btn:hover {
    color: #E5D28C;
    background-color: #2A4776;
    border: #7F91AC solid 4px;
    cursor: pointer;
}

/* --What's New-- */
#whats-new img {
    display: flex;
    justify-self: center;
}
#whats-new-content {
    display: flex;
    flex-direction: column;
    align-self: center;
}



/* 6. --Products Display-- */
#hp-orange {
    display: flex;
    justify-self: center;
    margin-bottom: 30px;
    background-color: #FBB278;
    padding: 10px 45px;
    border-radius: 18px;
    margin-top: 26px;
}

#hp-blue {
    display: none;
}

#hp-melon {
    display: none;
}

#hp-mango {
    display: none;
}



/* 7. --Product Cards-- */
.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 12px;
    border-radius: 18px;
    margin-bottom: 50px;
}

.product-card h3 {
    font-size: 30px;
    font-family: "ohno-softie-variable",sans-serif;
    margin-bottom: 10px;
}

.product-text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-family: josefin-sans, sans-serif;
    font-weight: 200;
}



/* 8. --Contact Form-- */
#contact-form-con {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#contact-form input, textarea {
    display: flex;
    flex-direction: column;
    font-family: josefin-sans, sans-serif;
    width: 412px;    
    border: 3px solid #E3BCD9;
    border-radius: 30px;
    padding: 15px;
    background-color: #F9F9F9;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#contact-form input::placeholder, textarea::placeholder {
    padding: 5px;
    font-weight: 300;
}

#contact-form label {
    font-family: josefin-sans, sans-serif;
}

#contact-form textarea {
    height: 365px;
}

#contact-form input[type="submit"]{
    display: flex;
    background-color: #E5D28C;
    border: #F5EDD1 4px solid;
    color: #2A4776;
    font-size: 20px;
    padding:  8px 8px 12px 8px;
    transition: all ease-in-out .3s;
    margin-top: 20px;
    margin-bottom: 60px;
}

#contact-form input[type="submit"]:hover {
    background-color: #2A4776;
    border: #7F91AC 4px solid;
    color: #E5D28C;
    cursor: pointer;
}


/* 9. --Find Us-- */
#find-us h2 {
    margin-bottom: 38px;
}

.find-us-logos {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
}



/* 10. --Footer-- */
#logo-foot {
    padding-top: 23px;
    justify-self: center;
    margin-bottom: 10px;
}

.m-l-foot-nav ul {
    display: none;
}

#socials {
    justify-self: center;
    margin-bottom: 10px;
}

#facebook {
    margin-right: 20px;
    cursor: pointer;
}

#instagram {
    cursor: pointer;
}

#follow-us {
    display: none;
}

#copy-foot {
    text-align: center;
    padding-bottom: 23px;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    color: #2A4776;
}

#m-l-copy-foot {
    display: none;
}



/* 11. --Tablet Queries-- */
@media screen and (min-width: 768px) {
    
    /* Header */
    #logo-head {
        order: -2;
        align-self: center;
        justify-self: normal;
    }

    #logo-head img {
        width: 100%;
    }

    #burger-btn {
        display: none;
    }

    #main-nav {
        display: block;
        order: -1;
    }

    #main-nav ul {
        display: flex;
        justify-content: space-between;
    }

    #main-nav ul li a {
        font-size: 22px;
    }


    /* Nested Grid */
    #nested-hero-grid h2 {
        font-size: 30px;
    }

    #nested-hero-grid p {
        font-size: 15px;
    }

    #nested-navy-btn a {
        font-size: 20px;
        padding-top: 2px;
        width: 294px;
    }

    #nested-yellow-btn a {
        font-size: 20px;
        margin-top: 15px;
        padding-top: 3px;
        width: 294px;
    }


    /* Whats New */
    #whats-new h2 {
            order: -2;
        }
    
    #whats-new-content {
        order: -1;
    }


    /* Product Display */   
    #hp-orange {
        padding: 16px 70px;
    }
    
    #hp-blue {
        display: flex;
        justify-self: center;
        background-color: #7EBEE1;
        padding: 16px 70px;
        border-radius: 18px;
        margin-top: 26px;
    }
    
    #hp-melon{
        display: flex;
        justify-self: center;
        background-color: #E27184;
        padding: 16px 70px;
        border-radius: 18px;
        margin-top: 26px;
    }
    
    
    /* Contact Form */    
    #contact-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #contact-form input, textarea {
        width: 700px;    
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #contact-form label {
        font-size: 18px;
    }

    #contact-form textarea {
        height: 290px;
    }

    #contact-form input[type="submit"]{
        width: 358px;
        align-self: flex-end;
        margin-top: 10px;
    }

    
    /* Footer */
    #logo-foot {
        justify-self: normal;
        align-self: center;
    }

    #logo-foot img {
        width: 100%;
    }

    #m-l-copy-foot {
        display: block;
        text-align: center;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        color: #2A4776;
    }

    #copy-foot {
        display: none;
    }

    .m-l-foot-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;        
        line-height: 45px;
        list-style-type: none;
        width: 100%;
        padding: 0px;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
    }

    .m-l-foot-nav li {
        justify-content: center;
    }


    .m-l-foot-nav li a {
        color: #2A4776;
        text-decoration: none;
    }

    #follow-us {
        display: block;
        margin-left: 5px;
        margin-top: 23px;
        margin-bottom: 40px;
        font-size: 25px;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        color: #2A4776;
    }
}



/* 12. --Desktop Queries-- */
@media screen and (min-width: 1200px) {

    /* Header */
    #main-nav ul li a {
        font-size: 25px;
    }


    /* Nested Grid */
    #nested-hero-grid h2 {
        font-size: 40px;
    }

    #nested-hero-grid p {
        font-size: 20px;
    }

    #nested-navy-btn a {
        padding-top: 3px;
        width: 365px;
        margin-top: 25px;
        font-size: 25px;
    }

    #nested-yellow-btn a {
        padding-top: 2px;
        width: 365px;
        margin-top: 25px;
        font-size: 25px;
    }
    

    /* Product Display */
    #hp-mango {
        display: flex;
        justify-self: center;
        margin-bottom: 30px;
        background-color: #E5D28C;
        padding: 15px 65px;
        border-radius: 18px;
        margin-top: 26px;
    }

    /* Contact Form */
    #contact-form input, textarea {
        width: 970px;    
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #contact-form textarea {
        height: 369px;
    }

    #contact-form input[type="submit"]{
        width: 365px;
        font-size: 25px;
    }
}